<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </head>

  <body>
  	<%=render 'layouts/header'%>
    <div class="container">      
    
    <%= yield %>
    </div>

<%=render 'layouts/footer'%>


  </body>
</html>
